.notification-list {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 300px;
  max-height: 500px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  overflow: auto;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #f9f9f9;
}

.not-left{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 0.8em;
  font-weight: bold;
}

.notification-header h4 {
  margin: 0;
  color: #000;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notification-item.unread {
  background-color: #c6e0f5;
  font-weight: bold;
}

.notification-item.read {
  background-color: #ffffff;
  font-weight: normal;
}

.notification-item.unread:hover,
.notification-item.read:hover {
  background-color: #e6f7ff;
}

.notification-item p {
  color: #2724248d;
  margin: 0;
}

.notification-item small {
  display: block;
  color: #888;
  margin-top: 5px;
}

.no-notifications {
  padding: 10px;
  text-align: center;
  color: #888;
}

.close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.show-more-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-top: 1px solid #ddd;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
}

.show-more-btn:hover {
  background-color: #0056b3;
}