.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 90vh;
    width: 100%;
  }
  
  .signup-form {
    background: #fff;
    padding: 2rem;
    width: min(500px, 95%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .signup-form h1 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .inputField{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .auth-error{
    color: red;
    font-size: 1.1rem;
    margin: 0;
    border: red 1px solid;
    padding: .3rem;
    background-color: #eabfbf;
    text-align: center;
    border-radius: 4px;
  }
  
  .signup-form label {
    display: block;
    font-weight: bold;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"],
  .signup-form input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .signup-form input[type="file"] {
    padding: 0;
  }
  
  .captcha-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .captcha-container input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .signup-form button.submit-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button.submit-button:hover {
    background-color: #0056b3;
  }
  
  .signup-form span {
    color: red;
  }

  .member{
    font-size: .8rem;
  }

  .member a{
    color: #007bff;
    text-decoration: none;
  }